/*
	Masonry Template 
	http://www.templatemo.com/preview/templatemo_434_masonry
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Light-webfont.woff') format('woff'),
    url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Lightbox Styles */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
}
.lightbox:target {
  display: flex;
}
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
}
.lightbox .close:hover {
  background: rgba(255, 255, 255, 0.5);
}

.lh-0 {
  line-height: 0 !important;
}

.grid-flow-column {
  grid-auto-flow: column;
}

.white-glass-morph {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.date-venue {
  display: grid;
  place-content: center;
  width: 100%;
}

.date-venue-text {
  /* background-color: rgba(0, 0, 0, 0.4); */
  font-weight: 800;
  font-size: 20px;
}

.date-venue-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 200px;
  overflow: hidden;
}

.world-heading {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5vw;
  /* -webkit-text-stroke: 3px; */
}

.world-sub-heading {
  /* font-family: "Open Sans", sans-serif; */
  letter-spacing: 0.3vw;
  /* -webkit-text-stroke: 3px; */
}

.description {
  text-align: justify;
}

.subtitle {
  -webkit-text-stroke-width: 2px;
  letter-spacing: 3px;
}

.event-details {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.color-primary {
  background: #f2181c;
  background: linear-gradient(to right, #f2181c 0%, #801617 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .event-details {
    text-align: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .colon {
    display: none;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.blue {
  color: #6be;
}

.green {
  color: #6e6;
}

main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  display: inline;
  zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
  overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']:-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: #000;
  font-family: 'robotolight';
}

a {
  color: #6cc0f7;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}

a:hover {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

h1 {
  font-size: 34px;
  font-weight: 300;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 300;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.red {
  color: #c01719;
}

.text-sm {
  font-size: 14px;
}

.content-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-image: url(../images/45.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.social-icons a {
  color: #fff;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  text-align: center;
  font-size: 12px;
  line-height: 34px;
}

.social-icons a i {
  line-height: 34px;
}

.social-icons a:hover {
  background: #fff;
  color: #000;
}

.social-icons li {
  display: inline-block;
  margin: 0 4px;
}

@media screen and (max-width: 768px) {
  .social-icons {
    float: none !important;
    text-align: center;
    display: block;
  }
}

.button {
  padding: 10px 20px;
  display: inline-block;
  outline: 0;
  border: 0;
}

.button.white {
  background: #fff;
  color: #000;
  text-transform: uppercase;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #000;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.site-top {
  position: relative;
  z-index: 4;
  /* Layer a semi-transparent black gradient over the image to darken it
     so inner content remains readable. */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/bg-2.jpg) no-repeat center center / cover;
  /* Use multiply to increase contrast between gradient and image on some browsers */
  -webkit-background-blend-mode: multiply;
  background-blend-mode: multiply;
  margin-bottom: 0;
  padding: 200px 0 60px 0;
  /* margin-top: 80px; */
}

@media screen and (max-width: 768px) {
  .site-top {
    padding: 100px 0 60px 0;
  }
}

/* Sticky Navigation Bar */
.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  padding: 40px 0;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  transition: all 500ms ease-in-out;
}

.sticky-navbar.scrolled {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.sticky-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-brand-nav {
  display: block;
  max-width: 400px;
  width: 100%;
  transition: max-width 300ms ease-in-out;
}

.site-brand-nav img {
  width: 100%;
  height: auto;
}

.social-icons-nav ul {
  margin: 0;
  padding: 0;
}

.social-icons-nav a {
  color: #fff;
  font-size: 24px;
  transition: all 150ms ease-in-out;
  display: inline-block;
}

.social-icons-nav a:hover {
  color: #6cc0f7;
  transform: scale(1.2);
}

.sticky-navbar.scrolled .site-brand-nav {
  max-width: 180px;
}

.sticky-navbar.scrolled .social-icons-nav a {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .sticky-navbar {
    padding: 15px 0;
  }

  .site-brand-nav {
    max-width: 200px;
  }

  .social-icons-nav a {
    font-size: 18px;
  }

  .sticky-navbar.scrolled .site-brand-nav {
    max-width: 140px;
  }

  .sticky-navbar.scrolled .social-icons-nav a {
    font-size: 16px;
  }
}

/* About Us Section */
.about-us-section {
  position: relative;
  z-index: 6;
  padding: 80px 0;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.about-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 60px 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}

.about-card:hover {
  background: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.25);
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.about-content {
  text-align: center;
}

.about-logo {
  margin-bottom: 30px;
}

.about-logo img {
  max-width: 250px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  transition: all 300ms ease-in-out;
}

.about-card:hover .about-logo img {
  transform: scale(1.05);
}

.about-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: linear-gradient(to right, #f2181c, #ff6b6b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-description {
  font-size: 16px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
  font-family: 'robotolight', sans-serif;
  text-align: justify;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.about-tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 35px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tagline-text {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to right, #f2181c, #801617);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 300ms ease-in-out;
}

.tagline-dot {
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
}

.about-card:hover .tagline-text {
  letter-spacing: 3px;
}

@media screen and (max-width: 768px) {
  .about-us-section {
    padding: 60px 0;
  }

  .about-card {
    padding: 40px 30px;
    border-radius: 15px;
  }

  .about-heading {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about-logo img {
    max-width: 180px;
  }

  .about-description {
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
  }

  .about-tagline {
    gap: 10px;
    font-size: 14px;
  }

  .tagline-text {
    font-size: 14px;
  }
}

.site-header {
  padding-top: 40px;
}

.site-brand {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.site-brand strong {
  font-size: 24px;
  font-family: 'robotobold';
}

@media screen and (max-width: 768px) {
  .site-brand {
    float: none !important;
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
}

.site-banner {
  padding-top: 80px;
}

.site-banner h2 {
  font-size: 32px;
  font-family: 'robotobold';
  margin-bottom: 30px;
}

.subscribe-form {
  margin-top: 40px;
}

.subscribe-form #subscribe-email {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  outline: 0;
}

@media screen and (max-width: 768px) {
  .subscribe-form #subscribe-email {
    margin-bottom: 20px;
  }
}

.main-posts {
  position: relative;
  z-index: 6;
}

.post-masonry {
  margin-bottom: 30px;
}

.post-masonry .post-thumb {
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
}

.post-masonry .post-thumb img {
  width: 100%;
  display: block;
}

.post-masonry .post-thumb .title-over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px 20px;
}

.post-masonry .post-thumb .title-over h4 {
  font-size: 16px;
  font-family: 'robotoregular';
}

.post-masonry .post-thumb .title-over a {
  color: #fff;
}

.post-masonry .post-thumb .post-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.post-masonry .post-thumb .post-hover .inside {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.post-masonry .post-thumb .post-hover h4 {
  font-size: 16px;
  font-family: 'robotoregular';
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover a {
  color: #fff !important;
}

.post-masonry .post-thumb .post-hover i {
  display: block;
  margin-bottom: 10px;
}

.post-masonry .post-thumb .post-hover p {
  font-size: 12px;
}

.post-masonry .post-thumb .post-hover span {
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}

.post-masonry .post-thumb:hover .title-over {
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  bottom: -50px;
}

.post-masonry .post-thumb:hover .post-hover {
  top: 0;
  visibility: visible;
  opacity: 1;
}

.site-footer {
  position: relative;
  z-index: 8;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 0;
  margin-top: 60px;
}

.site-footer .social-icons {
  margin-bottom: 30px;
}

.copyright-text {
  font-size: 12px;
}

.copyright-text a {
  color: #bfbfbf;
}
